.header{
    
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: 10em;
    background-color:black;
    background:
radial-gradient(rgba(0, 0, 0, 0.578) 15%, transparent 16%) 0 0,
radial-gradient(rgba(0, 0, 0, 0.477) 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828aa;
background-size:16px 16px;

   
    
}

.topText{
    color: azure;
    font-weight: 400;
    padding-top: 20px;
}
@media(max-width:855px){
    .topText{
        font-size: x-large;
    }
}